body {
	font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  /* Enlaza la tipografia Open Sans */
}
.flex-container{
	display: flex;
}
a { /*nav*/
	text-transform: uppercase;
	font-weight: 700;
	padding: 30px;
    color: #373B47;
    text-decoration: none;
}
.menu{ /*menu fijo y ocupa todo el ancho*/
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.menu.flex-container{ /*alineados a la izquierda*/
	justify-content: flex-start;
}
.logo-container{
	margin-left: auto; /*logo alineado a la deerecha*/
	margin-right: 20px;
}
.flex-container .logo{
	width: 70px;
	height: 70px;
}
/*hasta aca menu*/

/*desde aca home*/
#home{
	height: 600px; 
	margin-top: 70px;

    background-image: url(../assets/images/bg-home.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
	background-repeat: no-repeat;

	justify-content: center;/*con este y el de abajo centra el contenido*/
	align-items: center;
	flex-direction: column; /*despliegue en forma vertical*/
	color: white;
}
.text-home{
	font-size: 2.4em;
}
.btn-home{
  background: #2Ecc71;
  color: #fff;
  padding: 11px 20px;
  border-radius: 1px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 63px;
  display: inline-block;
  font-size: 14px;
}

/*hasta aca home*/

/*desde aca services*/
#services{
  background-color: #F17C72;
  text-align: center;
  color: #fff;
  padding: 70px;
}
#services.flex-container{
	justify-content: space-around;
	flex-wrap: wrap;
}
.box.services{
	font-size: 1.2em;
	font-weight: bold;
}

/*hasta aca service*/

/*seccion work ejercicio evaluado*/
#work{
	text-align: center;
    display: inline-block;
    padding: 70px;
    cursor: pointer;
}
.imagencompu img{ /*imagen work compu*/
    text-align: center;
    width: 800px;
}
#fotos{ 
	margin-left: 20px;
	justify-content: center;
	margin: 2px;
	display: flex;
    flex-flow: row wrap;
}
.mb-0{
	text-align: center;
}
/*hasta aca evaluado*/

/* footer*/
footer{
  text-align: center;
  height: 70px;
  background-color: #373b47;
  color: white;
  padding-top: 7px;
}

/*Modal*/
#box-work-modal{ /* fondo del modal cuadro donde va la imagen*/
  background-color: rgba(240,30,80,0.85);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
#box-work-modal .modal-body{   /*ajustes de la imagen dentro del modal*/
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 100px;
}

#box-work-modal .close{ /*tamaño close? y de puntero a mano*/
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#box-work-modal .close img{ /*tamaño x close*/
  width: 60px;
  border: none;
}
#box-work-modal img{ /*tamaño imagen dentro del modal.. si!*/
  width: 600px;
  border: whitesmoke 20px solid;
}
.hide{ /* ocultar??*/
  display: none;
}
